body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cac39a;
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.personal-info, .bio {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

a.caja-enlace {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

a.caja-enlace:hover {
    background-color: #555;
}
